@font-face {
  font-family: 'Rodin';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./Resources/Comfortaa-Regular.ttf") format('truetype');
}
html {
  font-size: 20px;
}
body {
  font-family: "Rodin";
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  color: #44423A;
  background-image: url("./Resources/bg_low.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  min-height: 100vh;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
header,
main {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 1rem;
  border-radius: 8px;
  padding: 0.5rem;
}
#errorMessage {
  color: #E94235;
}
